@using OddsDashboard.Shared.Dtos
@using OddsDashboard.Shared.ViewModels
@using System.Globalization
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<div class="block m-2 py-3 px-6 bg-white border border-gray-200 rounded-lg shadow-lg hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <div class="grid grid-cols-7 gap-2 text-slate-200">
        @if (GameViewModel.CommenceTime > DateTime.UtcNow)
        {
            <div class="col-span-7 text-xs">
                @GameViewModel.CommenceTime.ToString("yyyy-MM-dd hh:mm tt")
            </div>
        }
        <div class="col-span-4">
        </div>
        <div class="text-center text-sm">
            Spread
        </div>
        <div class="text-center text-sm">
            Total
        </div>
        <div class="text-center text-sm">
            Money Line
        </div>
        <div class="col-span-2 grid grid-cols-1 content-center">
            <TeamNameLabel TeamName="@GameViewModel.AwayTeam"/>
        </div>
        @if (GameViewModel.Scores == null)
        {
            <div class="row-span-2 col-span-2"></div>
        }
        else
        {
            <ScoreLabel Score="@GameViewModel.Scores.AwayScore"/>
            <div></div>
        }
        @if (GameViewModel.Spreads == null)
        {
            <Outcome PrimaryDisplay="-"/>
        }
        else
        {
            <Outcome PrimaryDisplay="@GameViewModel.Spreads.AwayPointString" SecondaryDisplay="@GameViewModel.Spreads.AwayPriceString"/>
        }
        @if (GameViewModel.OverUnder == null)
        {
            <Outcome PrimaryDisplay="-"/>
        }
        else
        {
            <Outcome PrimaryDisplay="@GameViewModel.OverUnder.OverPointString" SecondaryDisplay="@GameViewModel.OverUnder.OverPriceString"/>
        }
        @if (GameViewModel.HeadToHead == null)
        {
            <Outcome PrimaryDisplay="-"/>
        }
        else
        {
            <Outcome PrimaryDisplay="@GameViewModel.HeadToHead.AwayPriceString"/>
        }
        <div class="col-span-2 grid grid-cols-1 content-center">
            <TeamNameLabel TeamName="@GameViewModel.HomeTeam"/>
        </div>
        @if (GameViewModel.Scores != null)
        {
            <ScoreLabel Score="@GameViewModel.Scores.HomeScore"/>
            <div></div>
        }
        @if (GameViewModel.Spreads == null)
        {
            <Outcome PrimaryDisplay="-"/>
        }
        else
        {
            <Outcome PrimaryDisplay="@GameViewModel.Spreads.HomePointString" SecondaryDisplay="@GameViewModel.Spreads.HomePriceString"/>
        }
        @if (GameViewModel.OverUnder == null)
        {
            <Outcome PrimaryDisplay="-"/>
        }
        else
        {
            <Outcome PrimaryDisplay="@GameViewModel.OverUnder.UnderPointString" SecondaryDisplay="@GameViewModel.OverUnder.UnderPriceString"/>
        }
        @if (GameViewModel.HeadToHead == null)
        {
            <Outcome PrimaryDisplay="-"/>
        }
        else
        {
            <Outcome PrimaryDisplay="@GameViewModel.HeadToHead.HomePriceString"/>
        }
    </div>
</div>

@code {
    [Parameter]
    public required GameViewModel GameViewModel { get; set; }
}